#Created by https://www.gitignore.io/api/latex
## IDEA ##
coding/*.iml
coding/.idea/
coding/.idea/*
## ALIGNMENTS ##
*/*.aln
*/*.dnd
*/*.fna
*/*.fasta
*/*.phy*
*/source_sequences/
*/source_sequences/*
*/example/
*/example/*
dissertation-MVO/.idea/
dissertation-MVO/.idea/*
dissertation-MVO/test*
dissertation-MVO/*.png
dissertation-MVO/*.mid
dissertation-MVO/*.xml